/data*/
/Sim/backup/
/lightning_logs/
/logs/
/results/
/sk/output/
/PointCloud/temp*/
/PointCloud/pcd/
/PointCloud/mlp_reg_exp*
/backup/
__pycache__/
pycache/*
/pycache/*
*.pyc
/urdf/
/loss/
/.vscode/
/Robot/nao/